

/*
NAV
*/
.nav{
    height: 60px;
    background-color: var(--bg-nav);
}
.nav-container{
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
    z-index: 100;
    background-color: var(--bg-nav);
    z-index: var(--z-nav);

  }
  
.nav-icon{
    color: var(--fg-nav);
    width: 30px;
    font-size: var(--size-icons);
}
  
.nav-icon-container, .nav-menu{
    display: flex;
    align-items: center;
}

.nav-icon-container{
    justify-content: start;
}

.nav-menu{
    display: flex;
    justify-content: end;
}
.nav-menu svg{
    transition: all .5s ;
}
.nav-menu svg:hover{
    cursor: pointer;
    color: rgb(167, 167, 167);
}

/* Nav Interno > 768px */

.nav-list-container{
    display: none;
}
.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.nav-item a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: var(--fg-hero-subname);
    font-weight: 500;
    padding: .5rem;

}
.nav-item:hover{
    background-color: transparent;
    border-bottom: 2px solid var(--fg-hero-name);
}
.nav-item:hover a{
    color: var(--fg-color);

}
/* ASIDE  < 768px*/

.aside{
    width: 100%;
    position: absolute;
    background-color: #e1e1e1;
    box-shadow: 0px 4px 1.9px 0px rgba(0, 0, 0, 0.09);
    transition: backgroundColor  .5s ease;
    transition: transform  .5s ease;
    transform: translateY(-135%);
    z-index: var(--z-aside);

}
.aside.opened{
    transform: translateY(0%);

}
.aside-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--fg-nav);
}
.aside-item{
    border-bottom: 1px solid #c0c0c0;
    padding: .7rem;
    list-style: none;
}

.aside-item:hover{
    background-color:var(--fg-color);
}

.aside-item:hover a{
    color: #fff;
}


/* Media Queries */
@media only  screen and (min-width:768px){
    .nav{
        height: 70px;
    }
    .nav-container{
        height: 100%;
        padding: 1rem 2rem;

    }

    .nav-menu{
        display: none; /*Ocultar el boton*/
    }

    .nav-list-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section{
        padding: 4rem 2rem;
    }
    .nav-icon{
        font-size: 1.8rem;
    }
}

@media only  screen and (min-width:950px){
    .nav-list{
        gap: 1rem;
    }
}