
.proyects-container{
    padding-top: 2rem;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/*
 PROYECT
 */

.project{
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
    padding: 1rem .5rem;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project.dark{
    background-color: var(--dgreen-3);
}
.project.light{
    background-color: var(--gray-7);
}

/* Photo */
.photo{
    width: 100%;
    height: 100%;
    padding: 0 .5rem;
    border-radius: 12px;
    overflow: hidden; /* Para asegurar que la imagen respete el borde redondeado */
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que la imagen cubra completamente el contenedor sin deformarse */
}

.project-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
}

/* Title */
.project-title,.project-description{
    font-family: var(--font-roboto);
    font-weight: 500;
}
.project-title.light{
    color: var(--violet-2);
    font-weight: 600;
}
.project-title.dark{
    color: var(--dgray-1);
    font-weight: 900;
}

/* Description */
.project-description{
    font-size: .9rem;
    font-weight: 100;
}
.project-description.light{
    color: var(---black-1);
}
.project-description.dark{
    color: var(--dwhite-2);
}
/* Buttons */
.project-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.project-button{
    border: none;
}
.project-button a{
    text-decoration: none;
}
.project-button:first-child.dark{
    background-color: var(--dgray-1);
}
.project-button:first-child.dark a {
    color: var(--dgreen-1);
}

.project-button:nth-child(2).dark{
    background-color: var(--dgreen-1);
}
.project-button:nth-child(2).dark a{
    color: var(--dwhite-1);
}

.project-button:first-child.light{
    background-color: var(--dgray-1);
}
.project-button:first-child.light a{
    color: var(--blue-2);
}
.project-button:nth-child(2).light{
    background-color: var(--blue-2);
}
.project-button:nth-child(2).light a{
    color: var(--dwhite-1);
}