*{
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

section{
  padding: 1rem;
  width: 100%;
  height: calc(100vh - 57px);
  display: flex;
}

p{
  height: fit-content;
}