:root{
  --gray-1: #E3E3E3;
  --gray-2: #E1e1E1;
  --gray-3: #888888;
  --gray-4: #565656;
  --gray-5: #cecececc;
  --gray-6: #e9e9e9cc;
  --gray-7: #CECECE;
  --black-1: #000000 ;
  --blue-1: rgba(228, 227, 227, 0.62);

  --blue-2: #514fbfd9;
  --blue-3: #16147bd9;
  --blue-4: #16147bd9;
  --blue-5: #0F2E51;
  --violet-1: rgba(81, 79, 191, 0.31);
  --violet-2: rgb(43, 53, 117);
  --white-1: #fff;
  --white-2: #f3f3f3f2;

  /* Dark Mode Colors */
  --dblack-1 : #242629;
  --dblue-1: rgba(228, 227, 227, 0.62);
  --dblue-4: #0A223D;
  --dblue-5: rgb(15, 46, 81);
  --dgreen-1: rgba(66, 108, 91, 0.85);
  --dgreen-2: #9fe1c5d9;
  --dgreen-3: #374151;
  --dwhite-1: #fff;
  --dwhite-2: #d7d7d7;
  --dgray-1: #E3E3E3;
  --dgray-2: #586574;




  --size-icons: 1.4rem;
  
  --font-cursive: 'Amita', serif;
  --font-arvo-serif: 'Arvo', serif;
  --font-monserrat:  'Montserrat';
  --font-serif-4: 'Source Serif 4', serif;
  --font-serif-3: 'Source Serif 3', serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-itim: 'Itim', cursive;
  --font-rubik: 'Rubik', sans-serif;

  --z-nav: 10000;
  --z-aside: 1000;
  

}

*{
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

section{
  padding: 1rem;
  width: 100%;
  height: auto;
  min-height: calc(100vh - 57px);
  display: flex;
  max-width: 900px;
  margin: 0 auto;
}
.section-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
p{
  height: fit-content;
}

.section-title{
  font-family: var(--font-roboto);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.section-title.light{
  color: var(--blue-2);
}
.section-title.dark{
  color: var(--dgreen-2);
}
.section-title h2{
  text-align: center;
  width: fit-content;
  padding-bottom: .2rem;
}
.section-title h2.light{
  border-bottom: 2px solid var(--blue-2);
}
.section-title h2.dark{
  border-bottom: 2px solid var(--dgreen-2);
}

/* BUTTONS */

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 1.9px 0px rgba(0, 0, 0, 0.25);
  max-width: 200px;
}

.button:hover{
  filter: brightness(1.2);
  cursor: pointer;
  transform: scale(1.02);
}

.button p{
  text-align: center;
  font-family: var(--font-roboto);
  font-size: .9rem;
  font-style: normal;
  font-weight: 900;
}

@media only screen and (min-width: 768px){
  section{
  /* min-height: calc(100vh - 70px); */
    min-height: auto;
    }
}