

  .app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    scroll-behavior: smooth;
  }
  .app-container.light{
    background-color: var(--white-2);
  }
  .app-container.dark{
    background-color: var(--dblue-4);
  }

  .body{
    max-width: 900px;
    margin: 0 auto;
  }